<h1>Flights</h1>


<%= form_with url: flights_path, method: "get", local: true do %>
  <%= label_tag :from_airport %>
  <%= select_tag :from_airport, options_from_collection_for_select(Airport.all, :id, :code) %><br>

  <%= label_tag :to_airport %>
  <%= select_tag :to_airport, options_from_collection_for_select(Airport.all, :id, :code) %><br>

  <%= label_tag :num_tickets, "Passengers: "%>
  <%= select_tag :num_tickets, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4]]) %><br>

  <%= label_tag :date, "Departure date: " %>
  <%= select_tag :date, options_for_select(@dates) %><br>

  <%= submit_tag "Search Flights"  %>
<% end %><br>


<% unless @flights.empty? %>
  Total flights: <%= @flights.count %>
  <% @flights.each do  |f| %>
    <ul>
      <li>From: <%= f.from_airport.code %></li>
      <li>To: <%= f.to_airport.code %></li>
      <li>Duration: <%= f.duration %></li>
      <li>Time: <%= f.flight_time_formatted %></li>
    </ul>
  <% end %>
<% else %>

<% end %>
