<div class="row">
  <div class="col-md-8">
    <h1>Booking Confirmation</h1>

    <h4>Departing on <%= @flight.flight_date_formatted %> at 
      <%= @flight.flight_time_formatted %> ||
      <%= @flight.from_airport.code %> to <%= @flight.to_airport.code %></h4><br>

    <p>Your confirmation number is <%= @booking.id%></p>
    <p>Flight Number: <%= @booking.flight_id %></p>


    <p>Passengers (<%= @booking.passengers.count %>): </p>
    <% @booking.passengers.each do |p| %>
      <li><%= p.name %></li>
    <% end %>
  </div>
</div>